.inputContainer {
  display: flex;
  flex-direction: column;

  .input {
    background: #e0e5ec;
    border: none;
    border-radius: 1rem;
    box-shadow:
      4px 4px 12px #babecc,
      -4px -4px 12px #ffffff;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.2s;

    &:focus {
    box-shadow:
      inset 2px 2px 6px #babecc,
      inset -2px -2px 6px #ffffff;
    }
  }

  .error {
    margin-bottom: 1rem;
    color: red;
    font-size: 14px;
  }
}